/*==============================
    GENERIC STYLES
===============================*/
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.clearfix:after,
.container:after,
.navbar:after {
    clear: both;
    display: table;
    content: " ";
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}
/*============================
    NAVIGATION BAR
=============================*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    font-weight: 300;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

li {
    float: left;
}

li a {
    color:rgba(143, 188, 143, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: rgba(143, 188, 143, 0.8);
}

/*=============================
    HOME PAGE STYLING
==============================*/

#home {
    width: 100%;
    display: block;
    height: auto;
    padding-top: 0px;
    padding-bottom: 50px;
    margin-bottom: 500px;
}

#home::before {
    content: "";
    background: url(../Images/Macrame2.png) no-repeat 50% 10%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.text-center {
    text-align: center;
}

.main {
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 90px;
    font-weight: 550;
    letter-spacing: 5pt;
    word-spacing: 10pt;
    padding: 10px;
    position: relative;
    top: 505px;
}

/*===============================
    GALLERY STYLE   
================================*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: ;
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 3px;
    padding: 1px;
    border: ;
    background-color: white;
    box-shadow: ;
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 432px;
    height: 648x;
}

.photo-container img {
    max-width: 100%;
    width: 432px;
    height: 648px;
    border-radius: 3px;
}



/*--------------------------------------------
    Photo Overlay Transitions
---------------------------------------------*/


.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo-container:hover {
    opacity: 0.5;
    transition: .5s;
    cursor: pointer;
}

/*=============================
    LIGHTBOX
==============================*/
.column {
    padding: 15px 15px;
    display: inline-block;
    margin: auto;
}

/*The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index:100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/*Modal Content*/
.modal-content {
    text-align: center;
    position: relative;
    background-color:rgba(0,0,0,1);
    margin: auto;
    padding: 0;
    width: auto;
    max-width: 1200px;
}

/* The Close Button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*Hide the slides by default*/
.mySlides {
    display: none;
}

/*Next & previous buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*Position the "next button" to the right*/
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
    border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Number text (1/9) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
  }
  
.active,
.demo:hover {
    opacity: 1;
  }

img.hover-shadow {
    transition: 0.3s;
}




/*==================================
    VIDEO
==================================*/
 
.video-container {
    text-align: center;
    padding: 10px;
}

video {
    outline: 0px;
}



/*=============================
    CONTACT FORM STYLING
==============================*/

.contact {
    width: 40%;
    padding: 20px;
    margin: 0px auto;
}

.contact form{
    padding: 12px 30px;
    margin: 2% auto;
    width: 70%
}


.contact h2, .contact p {
    text-align: center;
}


.contact input[type="text"] {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    width: 80%;
    margin: 5px;
    border: 2px dotted green;
    border-radius: 6px;
    background-color: rgba(143, 188, 143, 0.5);
}

.contact input[type="text"]:hover {
    box-shadow: 0 0 10px rgba(143, 188, 143, 0.8);
}

::placeholder {
    color: #000;
    opacity: 1;
}

.submit input[type="submit"] {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000;
    background-color: rgba(143, 188, 143, 1);
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
}

.submit input[type="submit"]:hover {
    color: #fff;
    background-color: rgba(143, 188, 143, .5);
    box-shadow: inset 0px 0px 15px rgba(143, 188, 143, 1);
    border-radius: 5px;
}

.terms {
    font-size: 18px;
    margin: 30px 1px 0 0;
    margin-top: 8%;
    padding-right: 60px;
    cursor: pointer;
    position: relative;
    float: right;
    display: inline;
}

.terms:hover {
    text-decoration: underline;
    color: rgba(143, 188, 143, 1);
}

.form-spacer {
    padding: 20px 0px 0px 60px;
}

/*==================================
    FOOTER STYLE
===================================*/
.footer {
    text-align: right;
    font-size: 18px;
    background-color: rgba(143, 188, 143, .5);
    display: block;
    padding: 5px;
}